.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.3);
}

#adduser-modal {
    position: fixed;
    display: none;
    margin-left: 5%;
    margin-right: 5%;
    width: 50vw;
    height: 50vh;
    border: black;
    border-style: solid;
    align-self: centre;
    background-image: linear-gradient(#F7F7F7, #D6D6D6);
    z-index: 999;
}